[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "*"
psycopg2-binary = "*"
social-auth-app-django = "*"
djangorestframework = "*"
django-rest-knox = "*"
django-rest-passwordreset = "*"
django-cors-headers = "*"
django-seed = "*"
boto3 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
